.labels {
  font-family: sans-serif;
  font-size: 11px;
  text-anchor: middle;
  fill: white;
}

#Nederland {
    fill: #f58231;
}

#Groningen {
    fill: #e6194B;
}

#Friesland {
  fill: #469990;
}

#Drenthe {
  fill: #ffe119;
}

#Overijssel {
  fill: #bfef45;
}

#Flevoland {
  fill: #3cb44b;
}

#Gelderland {
  fill: #42d4f4;
}

#Utrecht {
  fill: #808000;
}

#Noord-Holland {
  fill: #f032e6;
}

#Zuid-Holland {
  fill: #ff5050;
}

#Zeeland {
  fill: #ccff33;
}

#Noord-Brabant {
  fill: #999966;
}

#Limburg {
  fill: #009933;
}
